p {
  color: red;
}

body{
  background-color: LightCoral;
}

.button {
  border: none;
  color: white;
  height: 100px;
  width: 19%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: DarkMagenta;
  color: white;
  border-radius: 25%;
}

.button2 {
  background-color: MediumSlateBlue;
  color: white;
  border-radius: 25%;
}
.button3 {
  background-color: MediumSeaGreen;
  color: white;
  border-radius: 25%;
}
.button4 {
  background-color: Gold;
  color: white;
  border-radius: 25%;
}
.button5 {
  background-color: Red;
  color: white;
  border-radius: 25%;
}


